﻿@using Epam.Achievement.Ioc;
@using Epam.Achievement.BLL.Interface;
@using Epam.Achievement.Entities;
@{
    IClientAwardLogic _clientAwardLogic = DependenciesResolver.ClientAwaradLogic;
    IClientLogic _clientLogic = DependenciesResolver.ClientLogic;
    IAwardLogic _awardLogic = DependenciesResolver.AwardLogic;

    var clientAward = _clientAwardLogic.GetAll();

    Layout = "BasePages/_tableView.cshtml";
    Page.Index = "ClientAwardsTable";
    Page.Action = Request["Action"] ?? "Added";
    string message = null;

    if (IsPost)
    {
        //Edit
        if (Int32.TryParse(Request["Id"], out int Id) &&
            Int32.TryParse(Request["ChangeAward"], out int ChangeAwardId))
        {
            var _clientAwardUpdate = _clientAwardLogic.GetById(Id);

            if (_awardLogic.GetById(ChangeAwardId) != null)
            {
                _clientAwardUpdate.IdAchievement = ChangeAwardId;
                _clientAwardLogic.Update(_clientAwardUpdate);

                Response.Redirect($"/Pages/ClientAwards.cshtml?IdRelationship={_clientAwardUpdate.Id}&Action=AwardUpdate");
            }
            else
            {
                Response.Redirect($"/Pages/ClientAwards.cshtml?IdRelationship={_clientAwardUpdate.Id}&Action=ErrorUpdate_AwardNotFonud");
            }
        }
        else if (Int32.TryParse(Request["Id"], out Id) &&
                 Int32.TryParse(Request["ChangeClient"], out int ChangeClientId))
        {
            var _clientAwardUpdate = _clientAwardLogic.GetById(Id);

            if (_clientLogic.GetById(ChangeClientId) != null)
            {

                _clientAwardUpdate.IdClient = ChangeClientId;

                var a = _clientAwardLogic.Update(_clientAwardUpdate);

                Response.Redirect($"/Pages/ClientAwards.cshtml?IdRelationship={_clientAwardUpdate.Id}&Action=ClientUpdate");
            }
            else
            {
                Response.Redirect($"/Pages/ClientAwards.cshtml?IdRelationship={_clientAwardUpdate.Id}&Action=ErrorUpdate_ClientNotFonud");
            }
        }


        //Added
        if (Int32.TryParse(Request["ClientId"], out int ClientId) &&
            Int32.TryParse(Request["AwardId"], out int AwardID))
        {
            var IdRelationship = _clientAwardLogic.Add(ClientId, AwardID);

            Response.Redirect($"/Pages/ClientAwards.cshtml?IdRelationship={IdRelationship}");
        }
        else
        {
            Response.Redirect($"/Pages/ClientAwards.cshtml");
        }
    }
}


@section ClientAwardsTable {
    @{
        if (Int32.TryParse(Request["IdRelationship"], out int id))
        {
            var ClientAward = _clientAwardLogic.GetById(id);

            if (ClientAward != null)
            {
                var Client = _clientLogic.GetById(ClientAward.IdClient);
                var Award = _awardLogic.GetById(ClientAward.IdAchievement);

                if (Client != null && Award != null)
                {
                    message = $"Relationship: {ClientAward.Id} {Client.Name} {Award.Title} {Page.Action}";
                }
                else
                {
                    message = "Client or Award not found";
                }
            }
        }
    }

    @if (message != null)
    {
        <div>@message</div>
    }
    <a class="btn btn-primary" href="~/Pages/Add/AddClientAward.cshtml">Reward player</a>
    <thead>
        <tr>
            <th>Id</th>
            <th>Client</th>
            <th>Award</th>
        </tr>
        @if (clientAward != null)
        {
            foreach (var item in clientAward)
            {
                var client = _clientLogic.GetById(@item.IdClient);
                var award = _awardLogic.GetById(@item.IdAchievement);
                if (client != null && award != null)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@client.Name</td>
                        @if (award.Image != null)
                        {
                            <td><img style='width:60px; height:60px;' src="data:image;base64,@System.Convert.ToBase64String(award.Image)" alt="..." class="img-thumbnail">@award.Title</td>
                        }
                        else
                        {
                            <td><img style='width:60px; height:60px;' src="~/Image/Billy.png" alt="..." class="img-thumbnail">@award.Title</td>
                        }
                        <td><a class="Edit Client btn" href="~/Pages/EditClientAwardViewClient.cshtml?Id=@item.Id&IdClient=@item.IdClient&IdAchievement=@item.IdAchievement">Edit Client</a></td>
                        <td><a class="Edit Award btn" href="~/Pages/EditClientAwardViewAward.cshtml?Id=@item.Id&IdClient=@item.IdClient&IdAchievement=@item.IdAchievement">Edit Award</a></td>
                        <td><a class="Delete btn">Delete</a></td>
                    </tr>
                }
            }
        }
    </thead>
}