@using Epam.Achievement.Ioc;
@using Epam.Achievement.BLL.Interface;
@using Epam.Achievement.Entities;
@{
    IClientAwardLogic _clientAwardLogic = DependenciesResolver.ClientAwaradLogic;
    IClientLogic _clientLogic = DependenciesResolver.ClientLogic;
    IAwardLogic _awardLogic = DependenciesResolver.AwardLogic;

    var clientAward = _clientAwardLogic.GetAll();
    Layout = "BasePages/_tableView.cshtml";
    Page.Index = "ClientAwardsTable";
    string message = null;

    if (IsPost)
    {
        if (Int32.TryParse(Request["ClientId"], out int ClientId) &&
            Int32.TryParse(Request["AwardId"], out int AwardID))
        {


            var IdRelationship = _clientAwardLogic.Add(ClientId, AwardID);
            Response.Redirect($"/Pages/ClientAwards.cshtml?IdRelationship={IdRelationship}");
        }
        else
        {
            Response.Redirect($"/Pages/ClientAwards.cshtml");
        }
    }
}


@section ClientAwardsTable {
    @{
        if (Int32.TryParse(Request["IdRelationship"], out int id))
        {
            var ClientAward = _clientAwardLogic.GetById(id);

            if (ClientAward != null)
            {
                var Client = _clientLogic.GetById(ClientAward.IdClient);
                var Award = _awardLogic.GetById(ClientAward.IdAchievement);

                if (Client != null && Award != null)
                {
                    message = $"User: {ClientAward.Id} {Client.Name} {Award.Title} Added";
                }
                else
                {
                    message = "Client or Award not found";
                }
            }
        }
    }

    @if (message != null)
    {
        <div>@message</div>
    }
    <a class="btn btn-primary" href="~/Pages/Add/AddClientAward.cshtml">Reward player</a>
    <thead>
        <tr>
            <th>Id</th>
            <th>Client</th>
            <th>Award</th>
        </tr>
        @if (clientAward != null)
        {
            foreach (var item in clientAward)
            {
                var client = _clientLogic.GetById(@item.IdClient);
                var award = _awardLogic.GetById(@item.IdAchievement);
                if (client != null && award != null)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@client.Name</td>
                        <td><img src="..." alt="..." class="img-thumbnail"> @award.Title</td>
                        <td><a class="Edit Client btn" href="~/Pages/EditClientAwardViewClient.cshtml?Id=@item.Id&IdClient=@item.IdClient&IdAchievement=@item.IdAchievement">Edit Client</a></td>
                        <td><a class="Edit Award btn" href="~/Pages/EditClientAwardViewAward.cshtml?Id=@item.Id&IdClient=@item.IdClient&IdAchievement=@item.IdAchievement">Edit Award</a></td>
                        <td><a class="Delete btn" href="~/Pages/Redirect/RedirectDeleteClientAward.cshtml?Id=@item.Id">Delete</a></td>
                    </tr>
                }

            }
}
</thead>
}